body{
    margin: 0;
}
.header-section
{
    border: 1px solid  gray;
    height: 450px;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-text{
    width: 45%;
    margin: 70px auto;
    color: white;
    text-align: center;  
    padding: 30px 40px;
}
.header-text h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
