body{
    margin: 0;
}
.header-part
{
    height: 500px;
    background-color: black;
    border: 1px solid red;
}
.header-text{
    border: 1px solid blue;
    width: 45%;
    color: white;
    text-align: center;  
    padding: 30px 40px;
}
.header-text h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}